@use 'variables' as *;

@mixin text-variants($colors) {
  @each $name, $color in $colors {
    .text-#{$name} {
      color: $color !important;
    }
  }
}

@mixin background-variants($colors) {
  @each $name, $color in $colors {
    .bg-#{$name} {
      background-color: $color !important;
    }
  }
}

// -----------------------------
// ✍️ Typography
// -----------------------------
@mixin font-size-utilities($sizes) {
  @each $name, $size in $sizes {
    .#{$name} {
      font-size: $size !important;
    }
  }
}

@mixin font-weight-utilities($weights) {
  @each $name, $weight in $weights {
    .fw-#{$name} {
      font-weight: $weight !important;
    }
  }
}
