@use 'variables' as *;
@use 'mixins' as *;

@include background-variants(
  (
    'primary': $primary,
    'secondary': $secondary,
    'light': $light,
  )
);

/* Font Utilities */
@include font-size-utilities($font-sizes);
@include font-weight-utilities($font-weights);
