@use '../variables' as *;
@use '../mixins/breakpoints' as *;

@mixin emit-border($side-key, $width-value, $style-value, $color-value) {
  @if $side-key == 'all' {
    border: $width-value $style-value $color-value !important;
  } @else {
    border-#{$side-key}: $width-value $style-value $color-value !important;
  }
}

@mixin border-utilities(
  $border-sides,
  $border-widths,
  $border-styles,
  $border-colors,
  $breakpoints: $grid-breakpoints
) {
  @each $side-key, $side-value in $border-sides {
    @each $width-name, $width-value in $border-widths {
      @each $style-name, $style-value in $border-styles {
        @each $color-name, $color-value in $border-colors {
          .border-#{$side-key}-#{$width-name}-#{$style-name}-#{$color-name} {
            @include emit-border(
              $side-key,
              $width-value,
              $style-value,
              $color-value
            );
          }
        }
      }
    }
    @each $breakpoint-key, $breakpoint-value in $breakpoints {
      @include media-breakpoint-up($breakpoint-key) {
        @each $width-name, $width-value in $border-widths {
          @each $style-name, $style-value in $border-styles {
            @each $color-name, $color-value in $border-colors {
              .border-#{$side-key}-#{$width-name}-#{$style-name}-#{$color-name}-#{$breakpoint-key} {
                @include emit-border(
                  $side-key,
                  $width-value,
                  $style-value,
                  $color-value
                );
              }
            }
          }
        }
      }
    }
  }
}

@mixin border-radius-utilities(
  $border-radius,
  $breakpoints: $grid-breakpoints
) {
  @each $name, $radius in $border-radius {
    .border-radius-#{$name} {
      border-radius: $radius !important;
    }
    @each $breakpoint, $width in $breakpoints {
      @include media-breakpoint-up($breakpoint) {
        @each $name, $radius in $border-radius {
          .border-radius-#{$name}-#{$breakpoint} {
            border-radius: $radius !important;
          }
        }
      }
    }
  }
}
