@use '../variables' as *;
@use '../mixins/breakpoints' as *;

@mixin text-variants($colors, $breakpoints: $grid-breakpoints) {
  @each $name, $color in $colors {
    .text-#{$name} {
      color: $color !important;
    }
    @each $breakpoint, $width in $breakpoints {
      @include media-breakpoint-up($breakpoint) {
        @each $name, $color in $colors {
          .text-#{$name}-#{$breakpoint} {
            color: $color !important;
          }
        }
      }
    }
  }
}

@mixin background-variants($colors, $breakpoints: $grid-breakpoints) {
  @each $name, $color in $colors {
    .bg-#{$name} {
      background-color: $color !important;
    }
    @each $breakpoint, $width in $breakpoints {
      @include media-breakpoint-up($breakpoint) {
        @each $name, $color in $colors {
          .bg-#{$name}-#{$breakpoint} {
            background-color: $color !important;
          }
        }
      }
    }
  }
}
