@use '../variables' as vars;
@use '../mixins/breakpoints' as mixin;
@use '../../utilities/generator' as gen;

@mixin text-variants($colors, $breakpoints: vars.$grid-breakpoints) {
  @include gen.gen-prop($colors, 'text-', 'color', $breakpoints);
}

@mixin background-variants($colors, $breakpoints: vars.$grid-breakpoints) {
  @include gen.gen-prop($colors, 'bg-', 'background-color', $breakpoints);
}
