@use '../variables' as vars;
@use '../mixins/breakpoints' as mixin;

@mixin display-utilities($displays, $breakpoints: vars.$grid-breakpoints) {
  @each $name, $value in $displays {
    .d-#{$name} {
      display: $value !important;
    }
    @each $breakpoint, $width in $breakpoints {
      @include mixin.media-breakpoint-up($breakpoint) {
        @each $name, $value in $displays {
          .d-#{$name}-#{$breakpoint} {
            display: $value !important;
          }
        }
      }
    }
  }
}

@mixin flex-direction-utilities(
  $flex-directions,
  $breakpoints: vars.$grid-breakpoints
) {
  @each $name, $value in $flex-directions {
    .flex-#{$name} {
      flex-direction: $value !important;
    }
  }
  @each $breakpoint, $width in $breakpoints {
    @include mixin.media-breakpoint-up($breakpoint) {
      @each $name, $value in $flex-directions {
        .flex-#{$name}-#{$breakpoint} {
          flex-direction: $value !important;
        }
      }
    }
  }
}

@mixin justify-content-utilities(
  $justify-content,
  $breakpoints: vars.$grid-breakpoints
) {
  @each $name, $value in $justify-content {
    .justify-#{$name} {
      justify-content: $value !important;
    }
    @each $breakpoint, $width in $breakpoints {
      @include mixin.media-breakpoint-up($breakpoint) {
        @each $name, $value in $justify-content {
          .justify-#{$name}-#{$breakpoint} {
            justify-content: $value !important;
          }
        }
      }
    }
  }
}

@mixin vertical-align-utilities(
  $vertical-align,
  $breakpoints: vars.$grid-breakpoints
) {
  @each $name, $value in $vertical-align {
    .vertical-#{$name} {
      vertical-align: $value !important;
    }
    @each $breakpoint, $width in $breakpoints {
      @include mixin.media-breakpoint-up($breakpoint) {
        @each $name, $value in $vertical-align {
          .vertical-#{$name}-#{$breakpoint} {
            vertical-align: $value !important;
          }
        }
      }
    }
  }
}
