@use '../variables' as *;
@use '../mixins/breakpoints' as *;

@mixin size-utilities($size-values, $breakpoints: $grid-breakpoints) {
  @each $key, $value in $size-values {
    .w-#{$key} {
      width: #{$value};
    }
    .h-#{$key} {
      height: #{$value};
    }
    @each $breakpoint, $width in $breakpoints {
      @include media-breakpoint-up($breakpoint) {
        @each $key, $value in $size-values {
          .w-#{$key}-#{$breakpoint} {
            width: #{$value};
          }
          .h-#{$key}-#{$breakpoint} {
            height: #{$value};
          }
        }
      }
    }
  }
}
