@use '../variables' as vars;
@use '../mixins/breakpoints' as mixin;

@mixin margin-utilities($spacers, $breakpoints: vars.$grid-breakpoints) {
  @each $key, $value in $spacers {
    .m-#{$key} {
      margin: $value !important;
    }
    .mt-#{$key} {
      margin-top: $value !important;
    }
    .mb-#{$key} {
      margin-bottom: $value !important;
    }
    .ml-#{$key} {
      margin-left: $value !important;
    }
    .mr-#{$key} {
      margin-right: $value !important;
    }
    .mx-#{$key} {
      margin-left: $value !important;
      margin-right: $value !important;
    }
    .my-#{$key} {
      margin-top: $value !important;
      margin-bottom: $value !important;
    }
  }
  @each $breakpoint, $width in $breakpoints {
    @include mixin.media-breakpoint-up($breakpoint) {
      @each $key, $value in $spacers {
        .m-#{$key}-#{$breakpoint} {
          margin: $value !important;
        }
        .mt-#{$key}-#{$breakpoint} {
          margin-top: $value !important;
        }
        .mb-#{$key}-#{$breakpoint} {
          margin-bottom: $value !important;
        }
        .ml-#{$key}-#{$breakpoint} {
          margin-left: $value !important;
        }
        .mr-#{$key}-#{$breakpoint} {
          margin-right: $value !important;
        }
        .mx-#{$key}-#{$breakpoint} {
          margin-left: $value !important;
          margin-right: $value !important;
        }
        .my-#{$key}-#{$breakpoint} {
          margin-top: $value !important;
          margin-bottom: $value !important;
        }
      }
    }
  }
}

@mixin padding-utilities($spacers, $breakpoints: vars.$grid-breakpoints) {
  @each $key, $value in $spacers {
    .p-#{$key} {
      padding: $value !important;
    }
    .pt-#{$key} {
      padding-top: $value !important;
    }
    .pb-#{$key} {
      padding-bottom: $value !important;
    }
    .pl-#{$key} {
      padding-left: $value !important;
    }
    .pr-#{$key} {
      padding-right: $value !important;
    }
    .px-#{$key} {
      padding-left: $value !important;
      padding-right: $value !important;
    }
    .py-#{$key} {
      padding-top: $value !important;
      padding-bottom: $value !important;
    }
  }
  @each $breakpoint, $width in $breakpoints {
    @include mixin.media-breakpoint-up($breakpoint) {
      @each $key, $value in $spacers {
        .p-#{$key}-#{$breakpoint} {
          padding: $value !important;
        }
        .pt-#{$key}-#{$breakpoint} {
          padding-top: $value !important;
        }
        .pb-#{$key}-#{$breakpoint} {
          padding-bottom: $value !important;
        }
        .pl-#{$key}-#{$breakpoint} {
          padding-left: $value !important;
        }
        .pr-#{$key}-#{$breakpoint} {
          padding-right: $value !important;
        }
        .px-#{$key}-#{$breakpoint} {
          padding-left: $value !important;
          padding-right: $value !important;
        }
        .py-#{$key}-#{$breakpoint} {
          padding-top: $value !important;
          padding-bottom: $value !important;
        }
      }
    }
  }
}
