@use '../variables' as vars;
@use '../mixins/breakpoints' as mixin;
@use '../../utilities/generator' as gen;

@mixin margin-utilities($spacers, $breakpoints: vars.$grid-breakpoints) {
  // base (non-responsive)
  @include gen.gen-prop($spacers, 'm-', 'margin');
  @include gen.gen-prop($spacers, 'mt-', 'margin-top');
  @include gen.gen-prop($spacers, 'mb-', 'margin-bottom');
  @include gen.gen-prop($spacers, 'ml-', 'margin-left');
  @include gen.gen-prop($spacers, 'mr-', 'margin-right');
  @include gen.gen-prop-two($spacers, 'mx-', 'margin-left', 'margin-right');
  @include gen.gen-prop-two($spacers, 'my-', 'margin-top', 'margin-bottom');

  // responsive variants grouped by breakpoint
  @include gen.gen-prop($spacers, 'm-', 'margin', $breakpoints);
  @include gen.gen-prop($spacers, 'mt-', 'margin-top', $breakpoints);
  @include gen.gen-prop($spacers, 'mb-', 'margin-bottom', $breakpoints);
  @include gen.gen-prop($spacers, 'ml-', 'margin-left', $breakpoints);
  @include gen.gen-prop($spacers, 'mr-', 'margin-right', $breakpoints);
  @include gen.gen-prop-two(
    $spacers,
    'mx-',
    'margin-left',
    'margin-right',
    $breakpoints
  );
  @include gen.gen-prop-two(
    $spacers,
    'my-',
    'margin-top',
    'margin-bottom',
    $breakpoints
  );
}

@mixin padding-utilities($spacers, $breakpoints: vars.$grid-breakpoints) {
  // base
  @include gen.gen-prop($spacers, 'p-', 'padding');
  @include gen.gen-prop($spacers, 'pt-', 'padding-top');
  @include gen.gen-prop($spacers, 'pb-', 'padding-bottom');
  @include gen.gen-prop($spacers, 'pl-', 'padding-left');
  @include gen.gen-prop($spacers, 'pr-', 'padding-right');
  @include gen.gen-prop-two($spacers, 'px-', 'padding-left', 'padding-right');
  @include gen.gen-prop-two($spacers, 'py-', 'padding-top', 'padding-bottom');

  // responsive
  @include gen.gen-prop($spacers, 'p-', 'padding', $breakpoints);
  @include gen.gen-prop($spacers, 'pt-', 'padding-top', $breakpoints);
  @include gen.gen-prop($spacers, 'pb-', 'padding-bottom', $breakpoints);
  @include gen.gen-prop($spacers, 'pl-', 'padding-left', $breakpoints);
  @include gen.gen-prop($spacers, 'pr-', 'padding-right', $breakpoints);
  @include gen.gen-prop-two(
    $spacers,
    'px-',
    'padding-left',
    'padding-right',
    $breakpoints
  );
  @include gen.gen-prop-two(
    $spacers,
    'py-',
    'padding-top',
    'padding-bottom',
    $breakpoints
  );
}
