@use '../variables' as vars;
@use '../mixins/breakpoints' as *;

@mixin font-size-utilities($sizes, $breakpoints: vars.$grid-breakpoints) {
  @each $name, $size in $sizes {
    .#{$name} {
      font-size: $size !important;
    }
    @each $breakpoint, $width in $breakpoints {
      @include media-breakpoint-up($breakpoint) {
        @each $name, $size in $sizes {
          .#{$name}-#{$breakpoint} {
            font-size: $size !important;
          }
        }
      }
    }
  }
}

@mixin font-weight-utilities($weights, $breakpoints: vars.$grid-breakpoints) {
  @each $name, $weight in $weights {
    .fw-#{$name} {
      font-weight: $weight !important;
    }
    @each $breakpoint, $width in $breakpoints {
      @include media-breakpoint-up($breakpoint) {
        @each $name, $weight in $weights {
          .fw-#{$name}-#{$breakpoint} {
            font-weight: $weight !important;
          }
        }
      }
    }
  }
}
