@forward 'colors';
@forward 'typography';
@forward 'borders';
@forward 'layout';
@forward 'sizing';

// -----------------------------
// 📏 Spacing
// -----------------------------
$spacer: 1rem;

$spacers: (
  auto: auto,
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

// -----------------------------
// 🧭 Breakpoints
// -----------------------------
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
