$displays: (
  none: none,
  block: block,
  inline: inline,
  inline-block: inline-block,
  flex: flex,
  inline-flex: inline-flex,
  grid: grid,
  inline-grid: inline-grid,
);

$flex-directions: (
  row: row,
  'row-reverse': row-reverse,
  column: column,
  'column-reverse': column-reverse,
);

$justify-content: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
);

$vertical-align: (
  baseline: baseline,
  top: top,
  middle: middle,
  bottom: bottom,
  sub: sub,
  text-top: text-top,
);

$align-items: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);

$align-self: (
  auto: auto,
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);
