$size-values: (
  25: 25%,
  35: 35%,
  50: 50%,
  65: 65%,
  75: 75%,
  90: 90%,
  100: 100%,
  auto: auto,
  8: 8px,
  12: 12px,
  16: 16px,
  32: 32px,
  64: 64px,
  128: 128px,
  0_5r: 0.5rem,
  1r: 1rem,
  2r: 2rem,
  4r: 4rem,
);
